body {
    margin: 0;
}

.header {
    background: #1F2937;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 0 8px rgba(0,0,0,.1);
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* width: 100%;
    height: auto; */
}

.logo {
    color: white;
    font-size: 24px;
}

.links {
    
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 25px;
    cursor: pointer;
}

li {
    color: white;
    font-size: 18px;
}

.content {
    background: #1F2937;
    margin-top: -1px;
    /* width: 100%; */
    height: 350px;
}

.content {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 101px;
}

.text-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: -30px;
}

.awesome {
    font: 48px extra-bold;
    color: #f9faf8;
    max-width: 300px;
}

.top-para {
    display: flex;
    max-width: 351px;
    color: #f9faf8;
    margin: 5px;
}

.top-signup {
    color: #f9faf8;
    background-color: #3882F6;
    cursor: pointer;
    transition: padding 1s;
    border-radius: 8px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
}


button:hover {
    box-shadow: 0px 5px 5px #888888;
}

.container {
    /* width: 100%;
    height: auto; */
}

.title {
    display: flex;
    justify-content: center;
    font: 36px extra bold;
    padding-top: 35px;
}

.empty-boxes {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 80px;
    gap: 40px;
}

.tiger1, .tiger2, .tiger3, .tiger4  {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 145px;
}

.tigerpic {
    /* padding-left: 31px; */
}

.text {
    text-align: center;
    width: 100%;
    height: auto;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
}

.quote-container {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding: 96px;
    text-align: center;
}

.quote-content {
    display: flex;
    font-size: 36px;
    font-family: light italic;
}

.quote-author {
    display: flex;
}

.modal {
    display: flex;
    background-color: #3882F6;
    border-radius: 10px;
    box-shadow: 2px 4px 16px rgba(0,0,0,.2);
    width: 650px;
    padding: 33px;
    margin: 100px;
    gap: 90px;
    align-items: center;
}

.signup-group {
    display: flex;
    flex-direction: column;
}

.action {
    color: #E5E7EB;
    font-weight: bold;
}

.bottom-para {
    color: #E5E7EB;
    margin: 0;
}

.bottom-signup {
    background-color: #3882F6;
    border-radius: 10px;
    width: 92px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: white;
    border-style: solid;
    color: white;
}

.modal-container {
    display: flex;
    justify-content: center;
}

footer {
    background-color: #1F2937;
}